---
layout: home
header:
  overlay_color: "#000"
  overlay_filter: "0"
  overlay_image: /images/smaglantis-images/plains1.png
title: "Sami's Projects & Notes"
excerpt: "A compilation of projects & notes on math, cognitive science, and computer science."
classes: wide

feature_row:
  - image_path: images/smaglantis-images/Smaglantis.gif
    alt: "Smaglantis"
    title: "Smaglantis"
    excerpt: "An indie video game currently being developed."
    url: "/smaglantis/"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: images/heart-disease-project-images/heart-disease-icon.jpg
    alt: "Heart-Disease-Classification"
    title: "Heart-Disease-Classification"
    excerpt: "A machine-learning model capable of predicting whether or not someone has heart disease based on their medical attributes."
    url: "/heart-disease-classifcation"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: images/bulldozer-regression-images/bulldozer-icon.jpg
    alt: "Bulldozer-Price-Regression"
    title: "Bulldozer-Price-Regression"
    excerpt: "A machine-learning model capable of predicting the sale price of a bulldozer."
    url: "/bulldozer-regression"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

<center><h1 class="Introduction">Introduction</h1></center>
<div style="margin-bottom: 2rem;"></div>

<style>
  h1 { font-weight: normal; }
  body { font-size: 13pt; }
  .feature-heading { text-align: center; margin-top: 1rem; }
  .feature-row { margin-top: 4rem; }
  .feature-item { margin-bottom: 4rem; }
</style>

<p>This site is a compilation of my notes on math, cognitive science, and computer science. Here, you'll find a collection of projects I've worked on.</p>
<p>My projects range from developing video games, machine-learning, bottling, and scientific simulations. Explore the featured projects below to learn more about each one.</p>
<div style="margin-bottom: 3rem;"></div>

<center><h1 class="feature-heading">Featured Projects</h1></center>
<div style="margin-bottom: 2rem;"></div>

{% include feature_row %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->