---
layout: home
header:
  overlay_color: "#000"
  overlay_filter: "0"
  overlay_image: /images/smaglantis-images/plains1.png
title: "Sami's Projects & Notes"
excerpt: "A compilation of projects & notes on math, cognitive science, and computer science."
classes: wide

feature_row:
  - image_path: images/skimmable-literature-images/skimmable-literature-icon.png
    alt: "Skimmable-Literature"
    title: "Skimmable-Literature"
    excerpt: "A NLP neural-network to make reading medical abstracts easier."
    url: "/skimmable-literature"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: images/bitcoin-images/bitcoin-icon.png
    alt: "Predicting Bitcoin"
    title: "Predicting Bitcoin: Time Series Forecast"
    excerpt: "A neural-network capable of predicting future prices of Bitcoin."
    url: "/predicting-bitcoin"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: images/dog-vision-images/dog-vision-icon.png
    alt: "Heart-Disease-Classification"
    title: "Multi-class Dog Breed Classifcation"
    excerpt: "A neural-network capable of identifiyng the breed of a dog given an image of a dog."
    url: "/dog-vision"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

<center><h1 class="Introduction">Introduction</h1></center>
<div style="margin-bottom: 2rem;"></div>

<style>
  h1 { font-weight: normal; }
  body { font-size: 13pt; }
  .feature-heading { text-align: center; margin-top: 1rem; }
  .feature-row { margin-top: 4rem; }
  .feature-item { margin-bottom: 4rem; }
</style>

<p>This site is a compilation of my notes on math, cognitive science, and computer science. Here, you'll find a collection of projects I've worked on.</p>
<p>My projects range from machine-learning, deep-learning, game development, and bottling. Explore the featured projects below to learn more about each one.</p>
<div style="margin-bottom: 3rem;"></div>

<center><h1 class="feature-heading">Top Projects</h1></center>
<div style="margin-bottom: 2rem;"></div>

{% include feature_row %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->